body {
  background-color: saddlebrown;
}

.app {
  font-family: sans-serif;
  color: white;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
}

.form {
  text-align: center;
  margin: 10px;
}

.packages {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blue {
  background-color: royalblue;
  width: 400px;
  height: auto;
  padding: 5px;
  margin: 5px;
}

.red {
  background-color: red;
  width: 400px;
  height: auto;
  padding: 5px;
  margin: 5px;
}

.images {
  display: flex;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.more {
  display: inline-block;
}

img {
  width: auto;
  height: 85px;
  margin: 2px;
}
